html {
    background: #181818;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

head {
    height:auto;
    width:auto;
}

p {
    color: #fefefe;
    font-family: Futura, Arial, sans-serif;
}

h1 {
    color: #fefefe;
    font-family: Futura, Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    border-color: #ffccdc;
    border-style: solid;
    padding: 5px;
}

header {
    color:#fefefe;
    text-align: center;
    font-family: Futura, Arial, sans-serif;
    font-size: 25px;
}

a {
    color: #fefefe;
    text-decoration: none;
}

a:visited {
    color: #3288fd;
}

a:hover {
    color: #3288fd;
}

a:active {
    color: #3288fd;
}

footer {
    font-size: 10px;
    text-align: center;
}

.intro {
    font-size: 40px;
    color: #fefefe;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    margin: 25px;
    padding: 25px;
    border-color: #3288fd;
    border-style: solid;
    margin-top: 10px;
}

label {
    color: #fefefe;
}

img {
    max-width: 150%;
    height: auto;
}

.about {
    font-size: 20px;
    color: #f7faff;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    float: left;
}

.aboutme {
    margin: 30px;
    width: 1000px;
    font-size: 22px;
}

.contact-form {
    margin: 30px;
    clear: both;
}

form {
    margin: 0px;
    clear: both;
}

label {
    display: block;
    padding: 5px;
    font-family: Futura, Arial, sans-serif;
}

input {
    font-family: Futura, Arial, sans-serif;
}

input[type = submit]:hover {
    background-color: #ffccdc;
}

.message {
    height: 70px;
    width: 300px;
}

.dress {
    float: left;
    margin: 30px;
}

.pics {
    display: inline-block;
}
