body {
    background-color: #21463A;
}

.middle {
    align-content: center;
    padding-bottom: 10px;
}

.button {
    background-color: #4E84A6;
    font-family: monospace;
    border: 2px solid #000000;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.button1 {
    background-color: #4E84A6;
}

.button2 {
    background-color: #72B770;
}

.button1:hover {
    background-color: #67A2B7;
}

.button2:hover {
    background-color: #9BC499;
}
